p{
  font-size: 14px;
}
.dark{
  background-color: black;
  color: #DFDFDF;
}
.dark span{
  color: white;
}
.dark h4,
.dark p{
  color: white;
}
.dark .button{
  background-color: white;
  color: black;
}

.light{
  background-color:#F5F5F5;
}