@import url('https://fonts.googleapis.com/css?family=DM+Sans:700');
@import url('https://fonts.googleapis.com/css?family=DM+Sans:400');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font: 'DM Sans', sans-serif;
  --big-header: 40px;
  --big-header-responsive: 32px;
  --normal-font: 15px;
  --small-font: 12px;
  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #DFDFDF;
  --gradient: linear-gradient(27deg, rgb(255, 197, 147) 0%, rgb(188, 113, 152) 49%, rgb(90, 119, 255) 95%);
  /* Font Weights */
  --weight-regular: 400;
  --weight-bold: 700;

  /* Design elements */
  --transition: 300ms ease-in-out;
  --transition-slow: 600ms ease-in-out;
}
html,body, *{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font);
}
